.song {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50px;
    flex-shrink: 0;
    padding-right: 20px;
    overflow: hidden; /*https://stackoverflow.com/questions/37132752/adding-when-text-is-too-long-in-a-div-with-only-css */
    text-overflow: ellipsis;
}

.repetitions {
    width: 50px;
    max-width: 50px;
    display: flex;
    justify-content: center;
}

#art {
    width: 50px;
}

.art {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.title,
.album {
    width: 300px;
    max-width: 300px;
}

.artist {
    width: 200px;
    max-width: 200px;
}

.listens {
    width: 100px;
    max-width: 100px;
}

.duration {
    width: 125px;
    max-width: 125px;
}

.listened_at {
    width: 200px;
}

.upc,
.isrc {
    width: 150px;
}
.spotify_album_id,
.spotify_track_id {
    width: 175px;
}

.repetitions {
    display: flex;
    gap: 5px;
    align-items: center;
}
