include:
  #- ./mb-docker/docker-compose.yml

  - ./supabase/docker/docker-compose.yml
services:
  frontend:
    build:
      context: ./frontend/
      target: prod
    volumes:
      - /app/node_modules
      - ./frontend/src:/app/src
      - ./frontend/static:/app/static
      - ./frontend/vite.config.ts:/app/vite.config.ts
      - ./frontend/tsconfig.json:/app/tsconfig.json
      - ./frontend/svelte.config.js:/app/svelte.config.js
      - ./frontend/.env.local:/app/.env.local
      - MQP:/data/frontend
    ports:
      - "4173:4173"
    networks:
      - default
  nginx:
    build:
      context: ./nginx
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - frontend
  redis:
    image: "redis:alpine"
    ports:
      - "6379:6379"
  data-acquisition:
    build:
      context: ./data-acquisition/
      target: dev
    volumes:
      - MQP:/data/data-acquisition
    ports:
      - "3001:3001"
    networks:
      - default
    depends_on:
      supabase-db:
        condition: service_healthy
      analytics:
        condition: service_healthy
      redis:
        condition: service_started
volumes:
  MQP: