# Logging
DATA_ACQ_LOG_LEVEL=1
FRONTEND_LOG_LEVEL=6

# Spotify
SPOTIFY_CID=
SPOTIFY_SECRET=
SPOTIFY_REDIRECT=http://kong:8000/functions/v1/spotify-callback
SPOTIFY_REFRESH= # Spotify refresh token, used for testing

# Apple / Apple Music
APPLE_MEDIA_KEY_PATH=/app/secrets/keys/AuthKey_XXXXXXXXXX.p8
APPLE_MEDIA_KEY_ID=
APPLE_TEAM_ID=
APP_URL=https://local.tile.music

# Postgres
PG_USER=postgres
PG_PW=
PG_HOST=localhost
PG_PORT=5433
PG_DB=postgres
PG_PORT=3001

# Data Acquisition
DATA_ACQ_URL=http://data-acquisition:3001
DATA_ACQ_PORT=3001

# Supabase
SB_URL=http://kong:8000/
SB_URL_TEST=http://127.0.0.1:8000/
SB_ANON_KEY=your-super-secret-and-long-supabase-anon-key
SB_SERVICE_KEY=your-super-secret-and-long-supabase-service-key

SB_POSTGRES_PASSWORD=your-super-secret-and-long-postgres-password
SB_JWT_SECRET=your-super-secret-and-at-least-32-characters-long-jwt-secret
SB_DASHBOARD_USERNAME=supabase
SB_DASHBOARD_PASSWORD=your-super-secret-and-long-dashboard-password
SB_SECRET_KEY_BASE=UpNVntn3cDxHJpq99YMc1T1AQgQpc8kfYTuRgBiYa15BLrx8etQoXz3gZv1/u2oq
SB_VAULT_ENC_KEY=your-32-character-encryption-key

SB_POSTGRES_HOST=db
SB_POSTGRES_DB=postgres
SB_POSTGRES_PORT=5432
SB_POSTGRES_USER=postgres

SB_POOLER_PROXY_PORT_TRANSACTION=6543
SB_POOLER_DEFAULT_POOL_SIZE=60
SB_POOLER_MAX_CLIENT_CONN=100
SB_POOLER_TENANT_ID=mdv
SB_POOLER_DB_POOL_SIZE=10

SB_KONG_HTTP_PORT=8000
SB_KONG_HTTPS_PORT=8443

SB_PGRST_DB_SCHEMAS=public

## General
SB_ADDITIONAL_REDIRECT_URLS=https://local.tile.music/oauth/**
SB_JWT_EXPIRY=3600
SB_DISABLE_SIGNUP=false
SB_API_EXTERNAL_URL=http://localhost:8000

## Mailer Config
SB_MAILER_URLPATHS_CONFIRMATION=/auth/v1/verify
SB_MAILER_URLPATHS_INVITE=/auth/v1/verify
SB_MAILER_URLPATHS_RECOVERY=/auth/v1/verify
SB_MAILER_URLPATHS_EMAIL_CHANGE=/auth/v1/verify

## Email auth
SB_ENABLE_EMAIL_SIGNUP=true
SB_ENABLE_EMAIL_AUTOCONFIRM=true
SB_SMTP_ADMIN_EMAIL=api@bixler.me
SB_SMTP_HOST=live.smtp.mailtrap.io
SB_SMTP_PORT=2525
SB_SMTP_USER=api
SB_SMTP_PASS=your-longish-smtp-pass
SB_SMTP_SENDER_NAME=musicdatavis
SB_ENABLE_ANONYMOUS_USERS=false

## Phone auth
SB_ENABLE_PHONE_SIGNUP=true
SB_ENABLE_PHONE_AUTOCONFIRM=true

## Spotify OAuth
SB_EXTERNAL_SPOTIFY_ENABLED=true
SB_EXTERNAL_SPOTIFY_CLIENT_ID=spotify-client-id
SB_EXTERNAL_SPOTIFY_SECRET=spotify-secret
SB_EXTERNAL_SPOTIFY_REDIRECT_URI=https://local.tile.music/oauth/callback

## Apple Music OAuth
SB_EXTERNAL_APPLE_ENABLED=true
SB_EXTERNAL_APPLE_CLIENT_ID=com.tile.music.web
SB_EXTERNAL_APPLE_SECRET=put-your-generated-developer-token-here-valid-for-6-months
SB_EXTERNAL_APPLE_REDIRECT_URI=https://local.tile.music/oauth/callback

## Enable users to link accounts that don't share a common email
SB_ENABLE_MANUAL_LINKING=true

SB_STUDIO_DEFAULT_ORGANIZATION=tile.music
SB_STUDIO_DEFAULT_PROJECT=tile.music
SB_STUDIO_PORT=3000
SB_SUPABASE_PUBLIC_URL=http://0.0.0.0:8000

SB_LOGFLARE_LOGGER_BACKEND_API_KEY=your-super-secret-and-long-logflare-key
SB_LOGFLARE_PUBLIC_ACCESS_TOKEN=your-super-secret-and-long-logflare-key-public
SB_LOGFLARE_PRIVATE_ACCESS_TOKEN=your-super-secret-and-long-logflare-key-private
